/* remove borders around callouts */
.callout {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

/* remove borders around properties */
.metadata-container {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

/* Anti-Flash Spell™ */
.is-flashing,
.is-flashing * {
  background: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
  animation: none !important;
  transition: none !important;
}
